name: build windows msvc

on:
  push:
    # tags: ['v*']
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - arch: x86
            msvc_arch: x86
          - arch: x64
            msvc_arch: x64
          - arch: ARM64
            msvc_arch: x64_ARM64
          - arch: ARM
            msvc_arch: x64_ARM
            sdk: 10.0.18362.0
            # x64_ARM results in following error:
            # C:\Program Files (x86)\Windows Kits\10\include\10.0.10240.0\ucrt\corecrt.h(205):
            # fatal error C1189: 
            # #error:  Compiling Desktop applications for the ARM platform is not supported.
    steps:
      - uses: actions/checkout@v4

      - name: Setup Windows SDK
        if: matrix.sdk
        uses: fbactions/setup-winsdk@v2
        with:
          winsdk-build-version: 18362

      # - name: List drive C files
      #   if: matrix.sdk
      #   run: |
      #     cmd /c dir /s /b "C:\Program Files (x86)\Windows Kits\10\include\10.0.18362.0\um"

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc_arch }}
          sdk:  ${{ matrix.sdk }}

      - name: Compile resources
        run: |
          rc.exe /nologo .\batventi\batventi.rc

      - name: Build
        run: |
          cl.exe /nologo /O1 /W3 /Z7 /GF /FS /EHsc /utf-8 /D "UNICODE" /D "_UNICODE" .\batventi\batventi.c .\batventi\batventi.res /link /OUT:batventi_${{ matrix.arch }}.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: batventi-${{ matrix.arch }}-windows
          path: batventi_${{ matrix.arch }}.exe

      - name: Prepare release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          ren batventi_${{ matrix.arch }}.exe batventi_${{ github.ref_name }}_${{ matrix.arch }}.exe

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          artifacts: batventi_${{ github.ref_name }}_${{ matrix.arch }}.exe
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
